KERNEL=="hidraw*", ATTRS{idVendor}=="054c", MODE="0666", RUN+="/usr/sbin/noice-udev-register.sh"
KERNEL=="js?", ATTRS{idVendor}=="1430", ATTRS{idProduct}=="4748", MODE="0666", RUN+="/usr/sbin/noice-udev-register.sh"

