[Unit]
Description=noice on %I
Requires=jack2.service

[Service]
Type=simple
ExecStartPre=/usr/bin/jack_wait -w
ExecStart=-/usr/bin/noice %I
Restart=no
User=root
Group=root
