ACTION=="add", KERNEL=="hidraw*", ATTRS{idVendor}=="054c", MODE="0666", RUN+="/usr/bin/systemctl start nooice@%E{DEVNAME}"
ACTION=="add", KERNEL=="js*", ENV{ID_VENDOR_ID}!="054c", MODE="0666", RUN+="/usr/bin/systemctl start nooice@%E{DEVNAME}"
