[Unit]
Description=nooice on %I
Requires=jack2.service

[Service]
Type=simple
Environment=JACK_INTERNAL_CLIENT_SYNC=.mod-host
ExecStartPre=/usr/bin/jack_wait -w
ExecStart=-/usr/bin/nooice-systemd-start.sh %I
Restart=no
User=root
Group=root
